html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#outdated {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
  letter-spacing: 1px;
  display: none;
  background-color: #f2b635;
  color: #fff; }
  #outdated .outdatedbrowser-header {
    position: absolute;
    z-index: 1;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 19px; }
    #outdated .outdatedbrowser-header #outdatedbrowser-close {
      font-size: 40px;
      z-index: 20;
      text-decoration: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 70px;
      height: 70px;
      line-height: 70px;
      color: #fff; }
    #outdated .outdatedbrowser-header div {
      margin: 0 auto 2px;
      text-align: center;
      font-size: 19px;
      font-weight: 800; }
    #outdated .outdatedbrowser-header p {
      font-size: 12px;
      margin: 0 70px;
      text-align: center;
      font-weight: 300; }
    #outdated .outdatedbrowser-header:before {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      content: '';
      width: 100%;
      height: 100%; }
  #outdated .outdatedbrowser-blocks > div {
    width: 20.1%;
    height: 100%;
    position: absolute;
    background: red; }
    #outdated .outdatedbrowser-blocks > div > div {
      position: absolute;
      top: 35%;
      left: 0;
      width: 100%;
      height: 40%; }
      #outdated .outdatedbrowser-blocks > div > div span {
        display: block;
        position: relative;
        width: 100px;
        height: 100px;
        margin: 0 auto 35px;
        background-image: url(../img/browsers.png);
        background-repeat: no-repeat;
        background-size: auto 95px; }
      #outdated .outdatedbrowser-blocks > div > div div {
        text-align: center;
        font-size: 15px;
        font-size: 13px;
        margin: 0 10px; }
      #outdated .outdatedbrowser-blocks > div > div a {
        font-weight: 700;
        font-size: 10px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        box-sizing: border-box;
        border-radius: 16px;
        height: 30px;
        margin: 22px auto 0;
        display: block;
        text-align: center;
        line-height: 30px;
        background: #fff;
        color: #f2b635;
        width: 100px; }
    #outdated .outdatedbrowser-blocks > div.item-1 {
      left: 0;
      background: #f2b635; }
      #outdated .outdatedbrowser-blocks > div.item-1 a {
        color: #f2b635; }
    #outdated .outdatedbrowser-blocks > div.item-2 {
      left: 20%;
      background: #f19a2a; }
      #outdated .outdatedbrowser-blocks > div.item-2 > div > span {
        background-position: -100px 0; }
      #outdated .outdatedbrowser-blocks > div.item-2 a {
        color: #f19a2a; }
    #outdated .outdatedbrowser-blocks > div.item-3 {
      left: 40%;
      background: #00caff; }
      #outdated .outdatedbrowser-blocks > div.item-3 > div > span {
        background-position: -200px 0; }
      #outdated .outdatedbrowser-blocks > div.item-3 a {
        color: #00caff; }
    #outdated .outdatedbrowser-blocks > div.item-4 {
      left: 60%;
      background: #00a0e6; }
      #outdated .outdatedbrowser-blocks > div.item-4 > div > span {
        background-position: -300px 0; }
      #outdated .outdatedbrowser-blocks > div.item-4 a {
        color: #00a0e6; }
    #outdated .outdatedbrowser-blocks > div.item-5 {
      left: 80%;
      background: #f25648; }
      #outdated .outdatedbrowser-blocks > div.item-5 > div > span {
        background-position: -400px 0; }
      #outdated .outdatedbrowser-blocks > div.item-5 a {
        color: #f25648; }
    #outdated .outdatedbrowser-blocks > div:hover a {
      opacity: 1; }
  #outdated .outdatedbrowser-blocks.hover .item {
    width: 17%; }
    #outdated .outdatedbrowser-blocks.hover .item.item-2 {
      left: 17%; }
    #outdated .outdatedbrowser-blocks.hover .item:hover {
      width: 28%; }

@media (max-width: 900px) {
  #outdated .outdatedbrowser-blocks > div > div div {
    height: 30px; } }

@media (max-width: 768px) {
  #outdated {
    overflow: scroll; }
    #outdated .outdatedbrowser-header {
      position: relative; }
    #outdated .outdatedbrowser-blocks {
      position: static; }
      #outdated .outdatedbrowser-blocks > div {
        position: static;
        width: 100%;
        padding: 40px;
        box-sizing: border-box; }
        #outdated .outdatedbrowser-blocks > div > div {
          position: static; } }

/* all of the custom mixins */
/* IE specific mixins */
/* clearfix */
@font-face {
  font-family: 'EBGaramond';
  src: url('../fonts/EBGaramond-Regular.ttf');
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.otf');
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Semibold.otf');
  font-weight: 500;
  font-style: normal; }

html, body {
  position: relative;
  font-family: ProximaNova;
  font-size: 24px;
  font-weight: 300;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  color: rgba(0, 0, 0, 0.3); }

a {
  text-decoration: none;
  transition: all .3s; }

h1, h2, h3 {
  font-family: EBGaramond; }

h1 {
  font-size: 36px;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: .025em; }
  @media screen and (max-width: 769px) {
    h1 {
      font-size: 48px;
      line-height: 60px; } }
  @media screen and (max-width: 479px) {
    h1 {
      font-size: 24px;
      line-height: 30px; } }

::-webkit-scrollbar {
  display: none; }

.design {
  left: 0;
  top: 0;
  opacity: .5;
  position: absolute;
  z-index: 99; }

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #d6d6d6;
  background-image: url(../img/floor.jpg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 100% 20.4%;
  overflow-x: hidden; }
  @media screen and (max-width: 769px) {
    .wrapper {
      background-size: 100% 100%;
      background-image: url(../img/mob-bg-gal.png); } }
  .wrapper.front {
    background-image: none; }
    @media screen and (max-width: 769px) {
      .wrapper.front {
        background-image: url(../img/mob-bg-title.png); } }
    .wrapper.front .container-out {
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url(../img/front-bg.png); }
      @media screen and (max-width: 769px) {
        .wrapper.front .container-out {
          background-image: none; } }
  .wrapper.contact {
    background-color: #d6d6d6;
    background-image: url(../img/contact-bg.png);
    background-size: 100% 100%; }
    @media screen and (max-width: 769px) {
      .wrapper.contact {
        background-image: url(../img/mob-bg-contact.png); } }

.container-out {
  width: 1440px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 1440px) {
    .container-out {
      width: 100%; } }

.container-in {
  margin-left: 7.2%;
  overflow: hidden;
  *zoom: 1; }
  @media screen and (max-width: 769px) {
    .container-in {
      margin-left: 13.2%; } }

.top {
  margin-left: 12%;
  padding-top: 54px;
  padding-bottom: 27px;
  position: relative;
  overflow: hidden;
  *zoom: 1; }
  @media screen and (max-width: 769px) {
    .top {
      margin-left: 0;
      padding-top: 7.4%; } }

.nav {
  font-family: ProximaNova;
  display: block;
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  overflow: hidden;
  *zoom: 1; }
  .nav .logo {
    display: block;
    width: 111px;
    height: 33px;
    background: url(../img/logo.svg) no-repeat;
    background-size: contain;
    float: left; }
    @media screen and (max-width: 769px) {
      .nav .logo {
        width: 300px;
        height: 40px;
        margin-left: 2px; } }
    @media screen and (max-width: 479px) {
      .nav .logo {
        width: 95px;
        height: 20px; } }
  .nav .close-menu {
    display: none;
    cursor: pointer; }
  .nav ul {
    margin-left: 29.4vw;
    padding-top: 10px;
    width: 100%; }
    @media screen and (max-width: 769px) {
      .nav ul {
        display: none; } }
    .nav ul li {
      display: inline-block;
      padding-right: 32px; }
      .nav ul li.lang {
        padding-right: 60px; }
      .nav ul li.vimeo {
        background: url(../img/vimeo.svg) no-repeat 50% 50%;
        width: 12px;
        height: 11px;
        overflow: hidden;
        padding-right: 6px;
        padding-left: 6px; }
        .nav ul li.vimeo a {
          color: transparent; }
        .nav ul li.vimeo:hover {
          background-image: url(../img/vimeo-hover.svg); }
      .nav ul li.sep {
        background: rgba(0, 0, 0, 0.3);
        width: 1px;
        height: 12px;
        padding-right: 0; }
      .nav ul li.facebook {
        background: url(../img/facebook.svg) no-repeat 50% 50%;
        width: 7px;
        height: 14px;
        overflow: hidden;
        padding-right: 9px;
        padding-left: 9px; }
        .nav ul li.facebook a {
          color: transparent; }
        .nav ul li.facebook:hover {
          background-image: url(../img/facebook-hover.svg); }
      .nav ul li a {
        color: rgba(0, 0, 0, 0.4);
        letter-spacing: .075em; }
        .nav ul li a:hover, .nav ul li a.active {
          color: #19a2a2; }
  .nav .toggle {
    display: none;
    width: 7.7%;
    height: 35%;
    position: absolute;
    top: 42%;
    right: 7.9%;
    cursor: pointer; }
    @media screen and (max-width: 769px) {
      .nav .toggle {
        display: block; } }
    @media screen and (max-width: 479px) {
      .nav .toggle {
        top: 31%;
        right: 7.1%;
        width: 9%;
        height: 27%; } }
    .nav .toggle i {
      width: 100%;
      height: 17%;
      display: block;
      background: #19a2a2;
      margin-bottom: 20%; }
  .nav.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(124, 124, 124, 0.95);
    padding: 7% 18.5%;
    z-index: 50; }
    .nav.open .logo {
      display: block;
      width: 300px;
      height: 40px;
      background: url(../img/logo-w.svg) no-repeat;
      background-size: contain;
      float: left;
      margin-right: 50%;
      overflow: hidden;
      *zoom: 1; }
      @media screen and (max-width: 479px) {
        .nav.open .logo {
          width: 95px;
          height: 20px; } }
    @media screen and (max-width: 767px) {
      .nav.open {
        padding-top: 6.6%;
        padding-left: 13.8%; } }
    .nav.open .close-menu {
      display: block;
      width: 41px;
      height: 41px;
      position: fixed;
      top: 5%;
      right: 7%;
      background: url(../img/close.svg) no-repeat; }
      @media screen and (max-width: 767px) {
        .nav.open .close-menu {
          top: 4.3%; } }
      @media screen and (max-width: 479px) {
        .nav.open .close-menu {
          width: 20.5px;
          height: 20.5px;
          background-size: contain; } }
    .nav.open ul {
      float: left;
      margin-left: 0;
      width: 62%;
      padding-top: 13%; }
      @media screen and (max-width: 769px) {
        .nav.open ul {
          display: block; } }
      @media screen and (max-width: 767px) {
        .nav.open ul {
          width: 72%; } }
      .nav.open ul a {
        display: block;
        padding: 8.5% 10% 5.2% 10%;
        color: #fff;
        letter-spacing: .13em; }
        .nav.open ul a:hover, .nav.open ul a.active {
          color: #19a2a2; }
        @media screen and (max-width: 479px) {
          .nav.open ul a {
            font-size: 12px; } }
      .nav.open ul li {
        border-top: solid 1px rgba(255, 255, 255, 0.3);
        display: block;
        padding-right: 0;
        text-align: center;
        font-size: 24px; }
        .nav.open ul li.lang {
          padding-right: 0; }
        .nav.open ul li.vimeo {
          background: transparent;
          width: auto;
          height: auto;
          overflow: visible;
          padding-right: 0;
          padding-left: 0; }
          .nav.open ul li.vimeo a {
            color: #fff; }
          .nav.open ul li.vimeo:hover {
            background-image: none; }
        .nav.open ul li.sep {
          display: none; }
        .nav.open ul li.facebook {
          background: transparent;
          width: auto;
          height: auto;
          overflow: visible;
          padding-right: 0;
          padding-left: 0; }
          .nav.open ul li.facebook:hover {
            background-image: none; }
          .nav.open ul li.facebook a {
            color: #fff; }

.side {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 32%;
  height: 66vh;
  float: left;
  overflow: hidden;
  *zoom: 1; }
  @media screen and (max-width: 769px) {
    .side {
      display: none; } }

.content {
  margin-top: 17.2vh;
  margin-left: 11.1%;
  display: block;
  float: left;
  width: 48.5%; }
  @media screen and (max-width: 769px) {
    .content {
      margin-top: 15.7vh;
      margin-left: 13%;
      width: 45%; } }
  @media screen and (max-width: 767px) {
    .content {
      margin-top: 15.2vh;
      margin-left: 1%;
      width: 60%; } }
  @media screen and (max-width: 479px) {
    .content {
      margin-top: 12.5vh;
      margin-left: 1%;
      width: 60%; } }
  .content h1:after {
    content: '';
    margin-top: 13px;
    display: block;
    width: 16px;
    height: 2px;
    background: rgba(0, 0, 0, 0.3); }
    @media screen and (max-width: 769px) {
      .content h1:after {
        margin-top: 25px;
        width: 28px;
        height: 3px; } }
    @media screen and (max-width: 479px) {
      .content h1:after {
        margin-top: 12px;
        width: 14px;
        height: 1.5px; } }
  .content .textarea {
    margin-top: 16px;
    font-size: 15px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.3); }
    @media screen and (max-width: 769px) {
      .content .textarea {
        font-size: 24px;
        line-height: 36px;
        margin-top: 28px; } }
    @media screen and (max-width: 479px) {
      .content .textarea {
        font-size: 12px;
        line-height: 18px;
        margin-top: 13px; } }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -3;
  background: rgba(124, 124, 124, 0.95);
  opacity: 0;
  transition: all .3; }
  .popup.active {
    display: block;
    opacity: 1;
    z-index: 1; }

.pop-gallery {
  width: 100%; }

.pop-slider {
  width: 10000vw; }

.popcont {
  display: inline-block;
  width: 100vw;
  position: relative; }

.slide-pop-title {
  font-size: 36px;
  padding-top: 1.7%;
  padding-bottom: 4.3%;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 22.4%; }

.slide-pop-info {
  position: absolute;
  width: 100%;
  -webkit-transform: translate(0%, 50%);
  -moz-transform: translate(0%, 50%);
  -ms-transform: translate(0%, 50%);
  -o-transform: translate(0%, 50%);
  transform: translate(0%, 50%);
  height: 100%;
  text-align: center; }

.slide-pop-cont {
  margin-left: auto;
  margin-right: auto;
  width: 22.4%;
  text-align: left;
  color: #fff;
  padding-top: 8.5%;
  font-size: 18px; }
  .slide-pop-cont h3 {
    font-family: ProximaNova; }
    .slide-pop-cont h3:after {
      content: '';
      margin-top: 29px;
      display: block;
      width: 29px;
      height: 3px;
      background: #fff;
      margin-bottom: 20px; }
  .slide-pop-cont p {
    line-height: 30px; }
  .slide-pop-cont img {
    width: 100%; }

.popup-close {
  display: block;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 5.3%;
  right: 9.5%;
  background: url(../img/popup-close.svg) no-repeat;
  cursor: pointer; }

.desk-arr-left, .desk-arr-right, .popup-arr-left, .popup-arr-right {
  width: 34.4px;
  height: 70.9px;
  position: absolute;
  top: 40.4%;
  cursor: pointer;
  z-index: 2; }

.desk-arr-left, .popup-arr-left {
  width: 34.4px;
  height: 70.9px;
  background: url('../img/desk-arr-left.svg');
  left: 9.3%; }

.desk-arr-right, .popup-arr-right {
  width: 34.4px;
  height: 70.9px;
  right: 9.3%; }

.desk-arr-left {
  background: url('../img/desk-arr-left.svg'); }

.popup-arr-left {
  background: url('../img/popup-arr-left.svg'); }

.desk-arr-right {
  background: url('../img/desk-arr-right.svg'); }

.popup-arr-right {
  background: url('../img/popup-arr-right.svg'); }

.gallery {
  margin-top: 11vh;
  -webkit-transform: translate(40%, 0%);
  -moz-transform: translate(40%, 0%);
  -ms-transform: translate(40%, 0%);
  -o-transform: translate(40%, 0%);
  transform: translate(40%, 0%); }
  @media screen and (max-width: 769px) {
    .gallery {
      overflow: hidden;
      *zoom: 1;
      margin-top: 0 !important;
      -webkit-transform: translate(0, -10%);
      -moz-transform: translate(0, -10%);
      -ms-transform: translate(0, -10%);
      -o-transform: translate(0, -10%);
      transform: translate(0, -10%); } }
  .gallery .slider {
    width: 10000px; }
    .flexbox .gallery .slider {
      display: flex;
      -webkit-display: flex; }
    .no-flexbox .gallery .slider {
      display: -moz-box;
      display: -webkit-box;
      display: box; }
    .flexbox .gallery .slider {
      align-items: center;
      -webkit-align-items: center; }
    .no-flexbox .gallery .slider {
      -webkit-box-align: center;
      -ms-flex-align: center;
      box-align: center; }
    @media screen and (max-width: 769px) {
      .gallery .slider .slide {
        width: 100vw;
        padding-left: 10vw; } }

.thumb {
  padding-right: 60px;
  padding-left: 60px; }
  .flexbox .thumb {
    display: flex;
    -webkit-display: flex; }
  .no-flexbox .thumb {
    display: -moz-box;
    display: -webkit-box;
    display: box; }
  .flexbox .thumb {
    flex-direction: column;
    -webkit-flex-direction: column; }
  .no-flexbox .thumb {
    -moz-box-direction: normal;
    -webkit-box-direction: normal;
    box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical; }
  .thumb img {
    cursor: pointer; }
    @media screen and (max-width: 769px) {
      .thumb img {
        width: 100%; } }

.slide-info {
  margin-top: -4px;
  padding-left: 15%;
  font-size: 20px;
  max-width: 60%;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.4);
  text-align: left; }
  @media screen and (max-width: 769px) {
    .slide-info {
      padding-left: 8%; } }
  @media screen and (max-width: 769px) {
    .slide-info h2 {
      font-size: 46px; } }
  .slide-info h2:after {
    content: '';
    margin-top: 10px;
    display: block;
    width: 13px;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 4px; }
    @media screen and (max-width: 769px) {
      .slide-info h2:after {
        content: '';
        margin-top: 26px;
        display: block;
        width: 28px;
        height: 3px;
        background: rgba(0, 0, 0, 0.3);
        margin-bottom: 10px; } }
  .slide-info .slide-year {
    font-size: 11px; }
    @media screen and (max-width: 769px) {
      .slide-info .slide-year {
        font-size: 24px; } }

/*# sourceMappingURL=style.css.map */
