@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/EBGaramond-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Regular.otf');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Semibold.otf');
    font-weight: 500;
    font-style: normal;
}
