@import 'meyer-reset';
@import 'outdated';
@import 'newcode';
@import 'compass';
@import 'flexcode';
@import 'fonts';
$sec: #19a2a2;
$prim: rgba(0,
0,
0,
.3);
$light: rgba(0,
0,
0,
.4);
$overlay: rgba(124,
124,
124,
.95);
html,
body {
  position: relative;
  font-family: ProximaNova;
  font-size: 24px;
  font-weight: 300;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  color: $prim;
}

a {
  text-decoration: none;
  transition: all .3s;
}

h1,
h2,
h3 {
  font-family: EBGaramond;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  color: $light;
  letter-spacing: .025em;
  @include max(769px) {
    font-size: 48px;
    line-height: 60px;
  }
  @include max(479px) {
    font-size: 24px;
    line-height: 30px;
  }
}

::-webkit-scrollbar {
  display: none;
}

.design {
  //      display: none;
  left: 0;
  top: 0;
  opacity: .5;
  position: absolute;
  z-index: 99;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #d6d6d6;
  background-image: url(../img/floor.jpg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 100% 20.4%;
  overflow-x: hidden;
  @include max(769px) {
    background-size: 100% 100%;
    background-image: url(../img/mob-bg-gal.png);
  }
  &.front {
    background-image: none;
    @include max(769px) {
      background-image: url(../img/mob-bg-title.png);
    }
    .container-out {
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url(../img/front-bg.png);
      @include max(769px) {
        background-image: none;
      }
    }
  }
  &.contact {
    background-color: #d6d6d6;
    background-image: url(../img/contact-bg.png);
    background-size: 100% 100%;
    @include max(769px) {
      background-image: url(../img/mob-bg-contact.png);
    }
  }
}

.container-out {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  @include max(1440px) {
    width: 100%;
  }
}

.container-in {
  margin-left: 7.2%;
  @include clearfix;
  @include max(769px) {
    margin-left: 13.2%;
  }
}

.top {
  margin-left: 12%;
  padding-top: 54px;
  padding-bottom: 27px;
  position: relative;
  @include clearfix;
  @include max(769px) {
    margin-left: 0;
    padding-top: 7.4%;
  }
}

.nav {
  font-family: ProximaNova;
  display: block;
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  @include clearfix;
  .logo {
    display: block;
    width: 111px;
    height: 33px;
    background: url(../img/logo.svg) no-repeat;
    background-size: contain;
    float: left;
    @include max(769px) {
      width: 300px;
      height: 40px;
      margin-left: 2px;
    }
    @include max(479px) {
      width: 95px;
      height: 20px;
    }
  }
  .close-menu {
    display: none;
    cursor: pointer;
  }
  ul {
    margin-left: 29.4vw;
    padding-top: 10px;
    width: 100%;
    @include max(769px) {
      display: none;
    }
    li {
      display: inline-block;
      padding-right: 32px;
      &.lang {
        padding-right: 60px;
      }
      &.vimeo {
        background: url(../img/vimeo.svg) no-repeat 50% 50%;
        width: 12px;
        height: 11px;
        overflow: hidden;
        padding-right: 6px;
        padding-left: 6px;
        a {
          color: transparent;
        }
        &:hover {
          background-image: url(../img/vimeo-hover.svg);
        }
      }
      &.sep {
        background: $prim;
        width: 1px;
        height: 12px;
        //      margin-left: 9px;
        //      margin-right: 6px;
        padding-right: 0;
      }
      &.facebook {
        background: url(../img/facebook.svg) no-repeat 50% 50%;
        width: 7px;
        height: 14px;
        overflow: hidden;
        padding-right: 9px;
        padding-left: 9px;
        a {
          color: transparent;
        }
        &:hover {
          background-image: url(../img/facebook-hover.svg);
        }
      }
      a {
        color: $light;
        letter-spacing: .075em;
        &:hover, &.active {
          color: $sec;
        }
      }
    }
  }
  .toggle {
    display: none;
    //    width: 47px;
    width: 7.7%;
    //    height: 47px;
    height: 35%;
    position: absolute;
    //    top: 50px;
    top: 42%;
    //    right: 50px;
    right: 7.9%;
    cursor: pointer;
    @include max(769px) {
      display: block;
    }
    @include max(479px) {
      top: 31%;
      right: 7.1%;
      width: 9%;
      height: 27%;
    }
    i {
      //      width: 47px;
      width: 100%;
      //      height: 7px;
      height: 17%;
      display: block;
      background: $sec;
      //      margin-bottom: 10px;
      margin-bottom: 20%;
    }
  }
  &.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $overlay;
    padding: 7% 18.5%;
    z-index: 50;
    .logo {
      display: block;
      width: 300px;
      height: 40px;
      background: url(../img/logo-w.svg) no-repeat;
      background-size: contain;
      float: left;
      margin-right: 50%;
      @include clearfix;
      @include max(479px) {
        width: 95px;
        height: 20px;
      }
    }
    @include max(767px) {
      padding-top: 6.6%;
      padding-left: 13.8%;
    }
    .close-menu {
      display: block;
      width: 41px;
      height: 41px;
      position: fixed;
      //      top: 50px;
      top: 5%;
      //      right: 50px;
      right: 7%;
      background: url(../img/close.svg) no-repeat;
      @include max(767px) {
        top: 4.3%;
      }
      @include max(479px) {
        width: 20.5px;
        height: 20.5px;
        background-size: contain;
      }
    }
    ul {
      float: left;
      margin-left: 0;
      width: 62%;
      padding-top: 13%;
      @include max(769px) {
        display: block;
      }
      @include max(767px) {
        width: 72%;
      }
      a {
        display: block;
        padding: 8.5% 10% 5.2% 10%;
        color: #fff;
        letter-spacing: .13em;
        &:hover, &.active {
          color: $sec;
        }
        @include max(479px) {
          font-size: 12px;
        }
      }
      li {
        border-top: solid 1px rgba(255, 255, 255, .3);
        display: block;
        padding-right: 0;
        text-align: center;
        font-size: 24px;
        &.lang {
          padding-right: 0;
        }
        &.vimeo {
          background: transparent;
          width: auto;
          height: auto;
          overflow: visible;
          padding-right: 0;
          padding-left: 0;
          a {
            color: #fff;
          }
          &:hover {
            background-image: none;
          }
        }
        &.sep {
          display: none;
        }
        &.facebook {
          background: transparent;
          width: auto;
          height: auto;
          overflow: visible;
          padding-right: 0;
          padding-left: 0;
          &:hover {
            background-image: none;
          }
          a {
            color: #fff;
          }
        }
      }
    }
  }
}

.side {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 32%;
  height: 66vh;
  float: left;
  @include clearfix;
  @include max(769px) {
    display: none;
  }
}

.content {
  margin-top: 17.2vh;
  margin-left: 11.1%;
  display: block;
  float: left;
  width: 48.5%;
  @include max(769px) {
    margin-top: 15.7vh;
    margin-left: 13%;
    width: 45%;
  }
  @include max(767px) {
    margin-top: 15.2vh;
    margin-left: 1%;
    width: 60%;
  }
  @include max(479px) {
    margin-top: 12.5vh;
    margin-left: 1%;
    width: 60%;
  }
  h1 {
    //        width: 240px; ///temp
    &:after {
      content: '';
      margin-top: 13px;
      display: block;
      width: 16px;
      height: 2px;
      background: $prim;
      @include max(769px) {
        margin-top: 25px;
        width: 28px;
        height: 3px;
      }
      @include max(479px) {
        margin-top: 12px;
        width: 14px;
        height: 1.5px;
      }
    }
  }
  .textarea {
    margin-top: 16px;
    //    width: 290px; //temp
    font-size: 15px;
    line-height: 21px;
    color: $prim;
    @include max(769px) {
      font-size: 24px;
      line-height: 36px;
      margin-top: 28px
    }
    @include max(479px) {
      font-size: 12px;
      line-height: 18px;
      margin-top: 13px;
    }
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  //  display: none;
  z-index: -3;
  background: $overlay;
  opacity: 0;
  transition: all .3;
  &.active {
    display: block;
    opacity: 1;
    z-index: 1;
  }
}

.pop-gallery {
  width: 100%;
}

.pop-slider {
  width: 10000vw;
}

.popcont {
  display: inline-block;
  width: 100vw;
  position: relative;
}

.slide-pop-title {
  font-size: 36px;
  padding-top: 1.7%;
  padding-bottom: 4.3%;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 22.4%;
}

.slide-pop-info {
  position: absolute;
  width: 100%;
  @include translate(0%, 50%);
  height: 100%;
  text-align: center;
}

.slide-pop-cont {
  margin-left: auto;
  margin-right: auto;
  width: 22.4%;
  text-align: left;
  color: #fff;
  padding-top: 8.5%;
  font-size: 18px;
  h3 {
    font-family: ProximaNova;
    &:after {
      content: '';
      margin-top: 29px;
      display: block;
      width: 29px;
      height: 3px;
      background: #fff;
      margin-bottom: 20px;
    }
  }
  p {
    line-height: 30px;
  }
  img {
    width: 100%;
  }
}

.popup-close {
  display: block;
  width: 30px;
  height: 30px;
  position: fixed;
  //      top: 50px;
  top: 5.3%;
  //      right: 50px;
  right: 9.5%;
  background: url(../img/popup-close.svg) no-repeat;
  cursor: pointer;
}

.desk-arr-left,
.desk-arr-right,
.popup-arr-left,
.popup-arr-right {
  width: 34.4px;
  height: 70.9px;
  position: absolute;
  top: 40.4%;
  cursor: pointer;
  z-index: 2;
}

.desk-arr-left,
.popup-arr-left {
  width: 34.4px;
  height: 70.9px;
  background: url('../img/desk-arr-left.svg');
  left: 9.3%;
}

.desk-arr-right,
.popup-arr-right {
  width: 34.4px;
  height: 70.9px;
  right: 9.3%;
}

.desk-arr-left {
  background: url('../img/desk-arr-left.svg');
}

.popup-arr-left {
  background: url('../img/popup-arr-left.svg');
}

.desk-arr-right {
  background: url('../img/desk-arr-right.svg');
}

.popup-arr-right {
  background: url('../img/popup-arr-right.svg');
}

.gallery {
  margin-top: 11vh;
  @include translate(40%, 0%);
  @include max(769px) {
    @include clearfix;
    margin-top: 0!important;
    @include translate(0, -10%);
  }
  .slider {
    width: 10000px;
    @include flex;
    @include align-items(center);
    .slide {
      @include max(769px) {
        width: 100vw;
        padding-left: 10vw;
      }
    }
  }
}

.thumb {
  padding-right: 60px;
  padding-left: 60px;
  //  @include clearfix;
  @include flex;
  //    @include justify-content(space-between);
  @include flex-direction(column);
  @include max(769px) {
    //    margin-top: -10%;
    //    float: left;
    //    width: 60%;
    //    height: 50vh;
    //    text-align: center;
    //    margin-left: auto;
    //    margin-right: auto;
    //    display: table-cell;
    //    vertical-align: middle;
    //    width: 60vw;
    //    width: 10%;
  }
  img {
    cursor: pointer;
    @include max(769px) {
      width: 100%;
    }
  }
}

.slide-info {
  margin-top: -4px; // TEMP!!
  padding-left: 15%;
  font-size: 20px;
  max-width: 60%;
  line-height: 22px;
  color: $light;
  text-align: left;
  @include max(769px) {
    padding-left: 8%;
  }
  h2 {
    @include max(769px) {
      font-size: 46px;
    }
    &:after {
      content: '';
      margin-top: 10px;
      display: block;
      width: 13px;
      height: 1px;
      background: $prim;
      margin-bottom: 4px;
      @include max(769px) {
        content: '';
        margin-top: 26px;
        display: block;
        width: 28px;
        height: 3px;
        background: $prim;
        margin-bottom: 10px;
      }
    }
  }
  .slide-year {
    font-size: 11px;
    @include max(769px) {
      font-size: 24px;
    }
  }
}
